# This is a sample config file
page_title:Welcome, says The Guy
screen_name:The Guy
query_condition:author = 'me' and date like "2013-09%"
category:news
highlight.js:github
article_per_page:5
nav:Tips,/tips/index.php
nav:Apps,/apps/index.php
language:English
logo:/images/awesome_logo.png
logo_location:/myTop/index.html
stylesheet:/styles/style_the_guy.css
additional_stylesheet:../beta.css

# Tags you can set:
# page_title
#   The words that will be set to the <title> tag.
#   Default value is "NigoroJr"

# screen_name
#   The name that will be shown in 'Posted by'.
#   Default value is the name that you entered when posting or editing an
#   article. If you didn't your login username will be used
#   (environmental variable 'REMOTE_USER')

# category
#   Category of the articles. Default value is 'tips'

# nav (separate name and link with a comma)
#   Hyperlinks at the top of the page.
#   nav:Foo,/bar/link.html
#   will display the link to /bar/link.html as 'Foo'
#   Default values are:
#   Tips    => /tips/index.php
#   Apps    => /apps/index.php
#   FTP     => /ftp/index.php
#   Users   => /users/index.php

# language
#   Your default language. Default value is 'English'

# article_per_page
#   How many articles you want to display in 1 page. Default value is 5

# query_condition
#   specifies which articles to show
#   In other words, it's the string that comes after
#   SELECT * FROM articles WHERE
#   Default value is "SELECT * FROM articles where category = 'tips'"

# logo
#   If you have your own logo, write the location and it will be displayed.
#   Default value is "/images/Logo.png"

# logo_location
#   You can specify where the logo links to. Default value is "/" (top page)

# stylesheet
#   If you want to use your own stylesheet, specify it here. Default value is
#   "/styles/style.css"

# additional_stylesheet
#   If you have your own stylesheet, but still want to use the template CSS,
#   write it here and override some of the things you want to change. No
#   default value.

# highlight.js
#   The theme that will be used when syntax highlighting code. Default value is 'github'
#   Available themes are the following:
#   arta
#   ascetic
#   brown_paper
#   brown_papersq.png
#   dark
#   default
#   far
#   github
#   googlecode
#   idea
#   ir_black
#   magula
#   monokai
#   pojoaque
#   pojoaque.jpg
#   rainbow
#   school_book
#   school_book.png
#   solarized_dark
#   solarized_light
#   sunburst
#   tomorrow-night-blue
#   tomorrow-night-bright
#   tomorrow-night-eighties
#   tomorrow-night
#   tomorrow
#   vs
#   xcode
#   zenburn
#
#   You can see how all the themes look like at http://softwaremaniacs.org/media/soft/highlight/test.html
